body{
  height: 100%;
  background-image: url('/src/assets/Fondo2.JPG');
  background-size:100%;
  background-repeat:repeat;
  background-attachment: fixed;
}

.info{
  width: 100%;
  display: grid;
  padding: 20px;
  grid-template-columns: 2;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  margin-top: 20px;
}

Header{
  height: 100px;
  color: white;
  display: grid;
  place-items: center;
  grid-template-columns: 0.5fr 1fr 1fr;
  background-image: url(../src/assets/red-wood-pattern-floor-wallpaper-preview.jpg);
}

header ul{
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  grid-column: auto;
  text-decoration:none;
  gap: 30px;
}

Header img {
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 5px;
}

footer{
  margin-top: auto;
  padding-left: 15px;
  padding-top: 10px;
  background-color: black;
  color: white;
}

.redes-sociales ul{
  position: relative;
  display: flex;
}

.redes-sociales ul li{
  list-style: none;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.redes-sociales ul li .fab{
  font-size: 20px;
  transition: .3s;
  line-height: 30px;
  color: black;
  text-align: center;
}

.redes-sociales ul li .fab:hover{
  color:#fff;
}

.redes-sociales ul li a{
  position:relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(245, 243, 243);
  text-align: center;
  transition: .6s;
}

.redes-sociales ul li a:hover{
  transform: translate(0,-15%);
}

.redes-sociales ul li:nth-child(1) a:hover{
  background-color: rgb(44, 117, 221);
}
.redes-sociales ul li:nth-child(2) a:hover{
  background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
}
.redes-sociales ul li:nth-child(3) a:hover{
  background-color: rgb(18, 140, 102);
}
.redes-sociales ul li:nth-child(4) a:hover{
  background-color: rgb(0,0,0);
}

.carrusel{
  width: 100%;
  display:inline;
}

.carrusel img {
  height: 380px;
}

.carousel h3{
  color:#fff ;
  background-color: #212529;
  font-size: 24px;
  font-style: oblique;
}

footer h6{
  display: flex;
  font-style: oblique;
  font-size: 12px;
}